Django~=5.2.16
djangorestframework~=3.17.1
djangorestframework-simplejwt~=5.5.1
django-redis~=7.0.0
geopandas~=1.1.4
matplotlib~=3.10.6
pyogrio~=0.13.0
shapely~=2.1.2
toml~=0.10.2
DateTimeRange~=2.3.2
python-dotenv~=1.2.2
django-currentuser~=0.10.0
psycopg~=3.3.4
django_dbconn_retry~=0.3.1
djoser~=2.3.3
pyjwt~=2.13.0
PyYAML~=6.0.3
drf_spectacular~=0.30.0
django-cors-headers~=4.9.0
requests~=2.34.2
tabulate~=0.10.0
django-otp[qrcode]~=1.7.0
Pillow~=12.3.0
ldap3~=2.9.1
python-dateutil~=2.9.0
whitenoise~=6.12.0

# AWS stack - pinned together to avoid conflicts 
botocore==1.43.0
boto3==1.43.0
aiobotocore~=3.7.0

fsspec==2026.4.0
s3fs==2026.4.0

# Use the same versions as mswm
numpy < 2.0, >= 1.23
pandas~=2.3.3


# There is also a dependancy on these 2 entries
# git+https://github.com/NOAA-OWP/nwm-msw-mgr.git@development
# git+https://github.com/NOAA-OWP/data-assimilation-engine.git@development
# These dependancies are installed separately in runCerf.sh in order to ensure that we get the latest code


